{% extends 'base.html' %}

  {% block section %}




  {% comment %} side bar section {% endcomment %}

<section class="container d-flex" id="about-body-bg">
  <div class="d-flex flex-column flex-shrink-0 p-0 text-dark bg-body-secondary" style="width: 210px; height: 500px;">
    <a href="{% url 'aboutus' %}" class="d-flex align-items-center mb-2 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none " width="10" height="80"></svg>
      
      <span class="fs-6 fw-semibold mt-3 mb-1" style="border:1px solid darkgray;padding:4px 10px; background-color:gray;border-radius:3px;">About Travel India Info</span>
    </a>
    <p class="about-questions">- What is Travel India Info </p>
    <p class="about-questions">- Why to use Travel India Info ?</p>
    <p class="about-questions">- Where we operate</p>

    
    <ul class="nav nav-pills flex-column mb-auto">
      
      <li>
        <a href="{% url 'customerreview' %}" class="nav-link text-dark fs-6 fw-semibold">
          <svg class="bi pe-none" width="2" height="20"></svg>
          Customer Reviews
        </a>
      </li>
      <li>
        <a href="{% url 'faqs' %}" class="nav-link text-dark fs-6 fw-semibold">
          <svg class="bi pe-none fs-6" width="2" height="20"></svg>
          FAQs
        </a>
      </li>
      <li>
        <a href="{% url 'privacypolicy' %}" class="nav-link text-dark fs-6 fw-semibold">
          <svg class="bi pe-none fs-6" width="2" height="20"></svg>
          Privacy Policy
        </a>
      </li>
      <li>
        <a href="{% url 'termscondition' %}" class="nav-link text-dark fs-6 fw-semibold">
          <svg class="bi pe-none fs-6" width="2" height="20"></svg>
          Terms & Conditions
        </a>
      </li>
      <li>
        <a href="{% url 'contactus' %}" class="nav-link text-dark fs-6 fw-semibold">
          <svg class="bi pe-none" width="2" height="20"></svg>
          Contact Us
        </a>
      </li>
    </ul>
  </div>
    {% comment %} <hr>
    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        <img src="/static/img/login-icon.png" alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>more</strong>
      </a>
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">New project...</a></li>
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
   {% endcomment %}


{% comment %}  about page description section {% endcomment %}

    
      <div class="container mx-1 my-3">
        <p style="color:gray; font-size:16.5px;padding-top:1rem;">HOME > ABOUT US</p>
        <p class="fs-5 fw-semibold"><img src="/static/img/india.png" class="image-fluid mx-2" width="6%"> What is Travel India Info</p>
        <br>
        <p id="about-description">"Welcome to Travel India Info, your ultimate guide to exploring the vibrant and diverse country of India!

          At Travel India Info, we are passionate about providing you with comprehensive and reliable information to make your travel 
          experiences in India truly unforgettable. Whether you're planning a short visit or an extended journey, our website is your 
          go-to resource for all things related to traveling in India. <br>
          
          We dedicated to providing you with in-depth knowledge and insights about this incredible country. Our platform offers detailed 
          knowledge about places, insider tips, and a treasure trove of information to help you plan and navigate your journey through India.
          From the snow-capped peaks of the Himalayas to the sun-kissed beaches of the coastline, from bustling cities to serene rural landscapes, 
          India offers a tapestry of breathtaking landscapes, vibrant cultures, and captivating experiences.
          At Travel India Info, we strive to bring you closer to the essence of India, showcasing its rich heritage, diverse traditions, 
          and remarkable history. <br>
        </p>
          
          <br><br>
        

        <p class="fs-5 fw-semibold"><img src="/static/img/using-phone.png" class="image-fluid mx-2" width="6%"> Why to use Travel India Info ?</p>
        <br>
        <p id="about-description"> 
          There are several reasons to choose Travel India Info as your go-to resource for exploring India. <br>
          Firstly, we provide comprehensive and reliable information about India's top tourist destinations, ensuring that you have all 
          the essential details to plan a memorable trip.
          Secondly, our focus on historical insights sets us apart, allowing you to deepen your knowledge and appreciation of the places 
          you visit. Whether you're a history enthusiast or simply curious about the background of the sites you explore, our  
          guides provides you the valuable context and detailed knowledge. 
          Additionally, we offer practical tips and advice to ensure a smooth and hassle-free journey. Our goal is to inspire and encourage 
          you to embark on your own Indian adventure, while expanding your knowledge and creating lifelong memories. Choose Travel India Info
           as your trusted companion to unlock the wonders of this incredible country.
        </p>
        <br><br>

        <p class="fs-5 fw-semibold"><img src="/static/img/headquarter.png" class="image-fluid mx-2" width="6%"> Where we operate</p>
        <br>
        <p id="about-description">We currently operate from Uttar Pradesh and provide our services in all over India.
           You can contact us for more detailes about us and for location details and we respond your initiative as per your request .
          <br></p><br><br>
           <h3> Happy Exploring and Creating Cherished Memories ☻ </h3>

        
           <br><br><br><br>
      
        
        
      </div>
      
    
</section>





{% endblock %}


</body>
</html>