{% extends 'base.html' %}

{% block section %}


<section class="container">

{% comment %} side bar section {% endcomment %}

    <div class="container mx-1 my-3">
        <p style="color:gray; font-size:16.5px;padding-top:1rem;">HOME > CUSTOMER REVIEWS</p>
        <h2><img src="/static/img/customer.png" class="mx-2" width="6%">
            Read what our valued customers have to say about their experiences with<h1 class="text-center text-warning">
                 Travel India Info.</h2></h3>
            

                 <br><br>

    </div>


<div class="container d-flex  justify-content-center">
    <div class="row">
              
        <div class="my-3 mx-2 customer-review-box " style="width: 20rem;">
            <img src="/static/img/jammuandKashmir.jpg" class="customer-review-box img mt-3" alt="...">
            <div class="card-body">
                <h5 class="card-title">Shubhnish Verma</h5>
                <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-half-o checked"></span>
                <span class="fa fa-star"></span>  
                </div>
                <p style="font-size:13px;">very nice it looks like it provides a better service from any other website. and deals customers with very polite manner.</p>
            </div>
        </div>


        <div class="my-3 mx-2 customer-review-box" style="width: 20rem;">
            <img src="/static/img/jammuandKashmir.jpg" class="customer-review-box img mt-3" alt="...">
            <div class="card-body">
                <h5 class="card-title">Shubhnish Verma</h5>
                <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-half-o checked"></span>
                <span class="fa fa-star"></span>  
                </div>
                <p style="font-size:13px;">very nice it looks like it provides a better service from any other website. and deals customers with very polite manner.</p>
            </div>
        </div>


        <div class="my-3 mx-2 customer-review-box" style="width: 20rem;">
            <img src="/static/img/jammuandKashmir.jpg" class="customer-review-box img mt-3" alt="...">
            <div class="card-body">
                <h5 class="card-title">Shubhnish Verma</h5>
                <div>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star checked"></span>
                <span class="fa fa-star-half-o checked"></span>
                <span class="fa fa-star"></span>  
                </div>
                <p style="font-size:13px;">very nice it looks like it provides a better service from any other website. and deals customers with very polite manner.</p>
            </div>
        </div>
    
    </div>

    
</div>

<div class="container d-flex  justify-content-center">
    <div class="row">
<div class="my-3 mx-2 customer-review-box " style="width: 20rem;">
    <img src="/static/img/jammuandKashmir.jpg" class="customer-review-box img mt-3" alt="...">
    <div class="card-body">
        <h5 class="card-title">Shubhnish Verma</h5>
        <div>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-half-o checked"></span>
        <span class="fa fa-star"></span>  
        </div>
        <p style="font-size:13px;">very nice it looks like it provides a better service from any other website. and deals customers with very polite manner.</p>
    </div>
</div>


<div class="my-3 mx-2 customer-review-box" style="width: 20rem;">
    <img src="/static/img/jammuandKashmir.jpg" class="customer-review-box img mt-3" alt="...">
    <div class="card-body">
        <h5 class="card-title">Shubhnish Verma</h5>
        <div>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-half-o checked"></span>
        <span class="fa fa-star"></span>  
        </div>
        <p style="font-size:13px;">very nice it looks like it provides a better service from any other website. and deals customers with very polite manner.</p>
    </div>
</div>


<div class="my-3 mx-2 customer-review-box" style="width: 20rem;">
    <img src="/static/img/jammuandKashmir.jpg" class="customer-review-box img mt-3" alt="...">
    <div class="card-body">
        <h5 class="card-title">Shubhnish Verma</h5>
        <div>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star checked"></span>
        <span class="fa fa-star-half-o checked"></span>
        <span class="fa fa-star"></span>  
        </div>
        <p style="font-size:13px;">very nice it looks like it provides a better service from any other website. and deals customers with very polite manner.</p>
    </div>
</div>

</div>
</div>





</section>

{% endblock %}


</body>

</html>