{% extends 'base.html' %}

{% block section %}

<section>
    <div class="container">
        <div class="container my-3 mb-0">
            <h2>&nbsp;Visit - North India</h2>
        </div>
        <div class="container d-flex">
                      
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/kashmir-srinagar.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Jammu & Kashmir</h5>
                        <a href="{% url 'jammukashmir' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/mountain.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Himachal Pradesh</h5>
                        <a href="{% url 'himachalpradesh' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/Golden-Temple.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Punjab</h5>
                        <a href="{% url 'punjab' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            
            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/monument.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Uttar Pradesh</h5>
                        <a href="{% url 'uttarpradesh' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>

                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/Kedarnath.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Uttarakhand</h5>
                        <a href="{% url 'uttarakhand' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
        </div>



        <div class="container">
            <h2>&nbsp;Visit - East India</h2>
        </div>
        <div class="container d-flex">
            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/Assam.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Assam</h5>
                        <a href="{% url 'assam' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/sikkim.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Sikkim</h5>
                        <a href="{% url 'sikkim' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/meghalaya.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Meghalaya</h5>
                        <a href="{% url 'meghalaya' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/Arunachal-Pradesh.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Arunachal Pradesh</h5>
                        <a href="{% url 'arunachalpradesh' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/west-bengal.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">West Bengal</h5>
                        <a href="{% url 'westbengal' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            
        </div>


        <div class="container">
            <h2>&nbsp;Visit - South India</h2>
        </div>
        <div class="container d-flex">
            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/andhra-pradesh.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Andhra Pradesh</h5>
                        <a href="{% url 'andhrapradesh' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/karnataka-hampi.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Karnataka</h5>
                        <a href="{% url 'karnataka' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/kerala-kumarakom.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Kerala</h5>
                        <a href="{% url 'kerala' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/index_image_3.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Tamil Nadu</h5>
                        <a href="{% url 'tamilnadu' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/charminar-telangana.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Telangana</h5>
                        <a href="{% url 'telangana' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
             
        </div>


        <div class="container">
            <h2>&nbsp;Visit - West India</h2>
        </div>
        <div class="container d-flex">
            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/Gir-national-park-gujarat.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Gujarat</h5>
                        <a href="{% url 'gujarat' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/haryana.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Haryana</h5>
                        <a href="{% url 'haryana' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/hawa-mahal-rajasthan.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Rajasthan</h5>
                        <a href="{% url 'rajasthan' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/goa.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Goa</h5>
                        <a href="{% url 'goa' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/Mumbai.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Maharashtra</h5>
                        <a href="{% url 'maharashtra' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
             
        </div>
    </div>


</section>
{% endblock %}