{% extends 'base.html' %}

{% block section %}

<section>
    <div class="container">
        <div class="container my-3 mb-0">
            <h2>&nbsp;Visit - North India</h2>
        </div>
        <div class="container d-flex">
            <div class="row">
                      
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/jammuandKashmir.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Jammu & Kashmir</h5>
                        <a href="{% url 'jammukashmir' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/himachal.webp" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Himachal Pradesh</h5>
                        <a href="{% url 'himachalpradesh' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/AMRITSAR.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Punjab</h5>
                        <a href="{% url 'punjab' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            
            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/AGRA.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Uttar Pradesh</h5>
                        <a href="{% url 'uttarpradesh' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>

                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/UTTARAKHAND.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Uttarakhand</h5>
                        <a href="{% url 'uttarakhand' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
        </div>
    </div>



        <div class="container">
            <h2>&nbsp;Visit - East India</h2>
        </div>
        <div class="container d-flex">
            <div class="row">
            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/Assam2.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Assam</h5>
                        <a href="{% url 'assam' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/Sikkim2.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Sikkim</h5>
                        <a href="{% url 'sikkim' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/meghalaya2.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Meghalaya</h5>
                        <a href="{% url 'meghalaya' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/Arunachal-Pradesh2.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Arunachal Pradesh</h5>
                        <a href="{% url 'arunachalpradesh' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/west-bengal2.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">West Bengal</h5>
                        <a href="{% url 'westbengal' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            
        </div>
    </div>


        <div class="container">
            <h2>&nbsp;Visit - South India</h2>
        </div>
        <div class="container d-flex">
            <div class="row">
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/andhra-pradesh2.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Andhra Pradesh</h5>
                        <a href="{% url 'andhrapradesh' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/karnataka_hampi_2.png" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Karnataka</h5>
                        <a href="{% url 'karnataka' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/kerala.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Kerala</h5>
                        <a href="{% url 'kerala' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/tamilnadu.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Tamil Nadu</h5>
                        <a href="{% url 'tamilnadu' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/charminar-hyderabad.jpeg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Telangana</h5>
                        <a href="{% url 'telangana' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
             
        </div>
    </div>


        <div class="container">
            <h2>&nbsp;Visit - West India</h2>
        </div>
        <div class="container d-flex">
            <div class="row">
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/Gujarat2.jpeg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Gujarat</h5>
                        <a href="{% url 'gujarat' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/haryana.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Haryana</h5>
                        <a href="{% url 'haryana' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/Hawa-Mahal.png" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Rajasthan</h5>
                        <a href="{% url 'rajasthan' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/Goa2.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Goa</h5>
                        <a href="{% url 'goa' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            

            
                <div class="card my-3 p-1 mx-2" style="width: 15rem;">
                    <img src="/static/img/mumbai2.jpg" class="card-img-top" alt="..." height=153>
                    <div class="card-body">
                        <h5 class="card-title">Maharashtra</h5>
                        <a href="{% url 'maharashtra' %}" class="btn btn-primary">Explore More ></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


</section>
{% endblock %}