{% extends 'base.html' %}

{% block section %}
<section>

    <div class="container">
        <div class="row justify-content-center position-relative">
          <img src="/static/img/leh.jpg" class="image-fluid mx-5 col-11 mt-3 blurred-image">
          <nav aria-label="breadcrumb" class="breadcrumb-container">
            <ol class="breadcrumb fw-semibold mt-3">
              <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Mountains</li>
            </ol>
          </nav>
          <h2 class="breadcrumb-container-heading text-white mt-2" style="text-shadow:1px 1px 8px black;">Mountain Passes in India</h2>
        </div>
        <div class="row justify-content-center">
          <h4 class="col-7 mt-3 text-center">Most Beautiful Mountain Passes in India</h4>
            <p class="col-9">India's most prized possession, the Himalayas and its rocky terrains, have become home to an uncountable number of Mountain Passes in India. 
                There is a mix of all kinds - easy and dangerous, accessible and restricted, low and high, for trekkers and mountaineers. 
                A lot of these mountain passes pose as significant routes connecting one place or the other. Some of them are located on the
                 boundaries of India's neighbouring nations and are, therefore, heavily disputed lands with high military security. What all 
                 of these have in common is a pleasant ride, picturesque views, fresh breeze, and time well spent.</p>
          
        </div>
      </div>


    <div class="container d-flex justify-content-center">
        <div class="row">

            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Auden-pass.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Auden's Col - Gangotri, Uttarakhand</h5>
                    <p class="card-text">The Auden's Col trek is a dream trek for every experienced trekker and mountaineer, 
                        being first discovered by John Bicknell Auden in 1935. The trail passes through the thick forest of alpine trees, 
                        meadows dotted with varied species of flowers, gushing streams and cuts through numerous villages secluded within the Garhwal 
                        Himalayas, and several temples that reflect the religious significance of the Garhwal region.<br>

                        Auden's Col is one of the high altitude mountain passes in the Garhwal Himalayas, which connects the Rudragaira valley and 
                        Bhilangana valley and forms a bridge between north west ridge of Gangotri III and the ridge coming from Jogin I on the east.<br>
                        Auden's Col is a mountain pass which connects Jogin I (6465m) and Gangotri III (6580m) peaks and is reportedly situated at a height 
                        of around 5400m. It also binds two glaciers on the opposite sides. One is Khatling glacier and the other one looks like the glacier 
                        belonging to Jogin I. Auden's Col is approachable from Gangotri and one can trek up to Kedarnath following Auden's Col and 
                        Khatling glacier.<br>
                        Even though a strenuous trail, the journey is treated with the majestic view of the hulking high peaks like the Rudragaira peak, 
                        Jogin group of peaks, Bhagirathi group of peaks and Kedar Dome.
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
                <!-- Example split danger button -->
                <div class=" d-flex mb-3">
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-info px-5">Details</button>
                        <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-body-secondary" style="width: 300px;">
                            <div>
                                <h6>Weather:</h6>
                                <p></p>
                                <h6>Label:</h6>
                                <p></p>
                                <h6>Tags:</h6>
                                <p style="font-size:13px;">Trekking & Hiking</p>
                                <h6>Time Required: </h6>
                                <p style="font-size:13px;">13 days</p>
                                <h6></h6>
                                <p style="font-size:13px;"></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Rohtang-pass.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Rohtang Pass - Manali</h5><br>
                    <p class="card-text" style="font-size:13px;">Located at a distance of just 51 kilometres from Manali, Rohtang Pass can be reached only by road. The pass is located at a massive height of 3978 metres on Manali- Keylong road. When planning a trip to Manali, a day off to the vista point of Rohtang Pass is the ultimate and almost essential attraction of the itinerary. <br>

                        Owing to its splendid natural beauty, Rohtang Pass is a favourite among the community of film directors. Many blockbusters ranging from 'Jab We Met' to 'Yeh Jawani Hai Deewani' have been shot here. A peculiar fact behind the name of the place is that it was named so because a number of people working in CBRE died whilst trying to cross this treacherous stretch.<br>
                        
                        An experience of the snow can never be complete without a sledge ride, which involves sliding through the snow in a wooden toboggan. Another thrilling activity that can be pursued at Rohtang Pass would be mountain biking where you ride your mountain bikes off the regular course and into the lesser taken routes. It can get a bit rough, so you must take care in case you are planning on pursuing this activity.<br>
                        
                        You can try your hand at skiing and tyre drop at the Rohtang Pass as well, where again you slide down a slope of snow whilst using the appropriate equipment. Gear for all of these activities is available for reasonable rent, so do not miss out on this opportunity.
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
                <!-- Example split danger button -->
                <div class=" d-flex mb-3">
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-info px-5 fs-6 fw-semibold">Details</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary bg-body-secondary" style="width: 300px;">
                            <div>
                                <h6>Weather: <span style="font-size:13px;font-weight: normal;"></span></h6>

                                <h6>Label: <span style="font-size:13px;font-weight: normal;"> Must Visit</span></h6>
                                

                                <h6>Tags: <span style="font-size:13px;font-weight: normal;">Hills & Valleys</span></h6>
                                

                                <h6>Open Months: <span style="font-size:13px;font-weight: normal;">June - October</span></h6>


                                <h6>Time Required:  <span style="font-size:13px;font-weight: normal;">3 to 4 hours</span></h6>


                                <h6>Elevation: <span style="font-size:13px;font-weight: normal;">3,978 m</span></h6>

                                <h6>Rohtang Pass Open Date 2023: <br><span style="font-size:13px;font-weight: normal;"> 15 May 2023</span></h6>

                            </div>
                        </div>
                    </div>

                    <div class="btn-group mx-1">
                        <button type="button" class="btn btn-info px-3 fs-6 fw-semibold">Must Known</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary" style="width: 400px; background-color: #ffeecc;">
                            <div>
                                <h6>Tips:</h6>
                                <p style="font-size:13px;">1. Take a day off for Rohtang. Leave for Rohtang early in the morning, as there are hundreds of others local tourist cabs visiting the pass and the narrow lanes gets jammed with traffic quickly, leaving one to walk up to the main spot.<br>
                                    2. Considering the difficult road, high altitude and low temperature of the area, Rohtang is best visited in daylight.<br>
                                    3. Carry woollens and snacks, if possible pack a thermos of hot tea or coffee too. It would be the most useful up there.<br>
                                    4. When renting snow clothes, compare the prices with those fixed by the government.</p><br>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Chanshal-Pass.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Chanshal Pass - Shimla, Himachal Pradesh</h5>
                    <p class="card-text" style="font-size:13px;">Also known by the name of Chanshal Valley, the Chanshal Pass is a refreshingly beautiful destination located in Himachal Pradesh, precisely 160 kilometres in distance from Shimla. Whether you work a tiring desk job or simply want to get away from the pollution and chaos of a metropolitan city, this gorgeous mountain valley is the perfect spot for your weekend getaway -- 
                        even if you are a traveller on a budget. Relaxing while watching a peaceful sunrise atop the mountain peaks here will actually cost you less of an expense than visiting fancy restaurants or the mall. <br>

                        At the incredibly high altitude of 3,755 metres, the Valley is located directly on top of the highest peak in all of Shimla -- the Chanshal Peak. It is a 180-kilometre long road which forms a connection between the town of Rohru (Chirgaon) and the Dodra Kwar Valley. This serene valley has become extremely famous for its scenic, breathtaking views. You will truly feel one with nature no matter what month you decide to visit Chanshal in.</p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
                <!-- Example split danger button -->
                <div class=" d-flex mb-3">
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-info px-5 fs-6 fw-semibold">Details</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary bg-body-secondary" style="width: 300px;">
                            <div>
                                <h6>Weather: <span style="font-size:13px;font-weight: normal;"></span></h6>

                                <h6>Label: <span style="font-size:13px;font-weight: normal;"></span></h6>
                                

                                <h6>Tags: <span style="font-size:13px;font-weight: normal;">Hills & Valleys</span></h6>
                                

                                <h6>Timings: <span style="font-size:13px;font-weight: normal;">24 hrs</span></h6>


                                <h6>Time Required:  <span style="font-size:13px;font-weight: normal;">4 - 5 hrs</span></h6>


                                <h6>Entry Fee: <span style="font-size:13px;font-weight: normal;">No Entry Fee</span></h6>

                            </div>
                        </div>
                    </div>

                    <div class="btn-group mx-1">
                        <button type="button" class="btn btn-info px-3 fs-6 fw-semibold">Must Known</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary" style="width: 440px; background-color: #ffeecc;">
                            <div>
                                <h6>Tips:</h6>
                                <p style="font-size:13px;">1. If you're biking all the way to Chanshal Pass, then it's best to carry a special bag that can be tied to a hook in your motorcycle. In this manner, you prevent the excessive burden of lugging a backpack over your shoulders. <br>
                                    2. Don't overpack lest it becomes difficult to carry your luggage up the mountain. Although, make sure to carry adequate warm clothing.<br>
                                    3. It's best to pack lots of water bottles to prevent getting dehydrated. Furthermore, having some light snacks on your person would greatly aid in making the trekking easier on you.<br>
                                    4. Remember to wear shoes that don't slip over mud and rocks.<br>
                                    5. Remember to pack some basic medicinal supplies because no such facility is available on the way to the peak.<br>
                                    6. Carry extra cash in case no ATM facility is available.
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>




    <div class="container d-flex justify-content-center">
        <div class="row">

            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Goecha-La.webp" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Goecha La - West Sikkim , Sikkim</h5>
                    <p class="card-text" style="font-size:13px;">Goecha La is a high mountain pass located at a height of 4,940 m and 
                        acts as the base camp for the southeast face of Kanchenjunga. This place can only be accessed by trekking from 
                        Yuksom and it roughly takes 7-8 days for a person to reach Goecha La and come back to Yuksom. <br>

                        The area is accessible only after proper permits are granted.
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
                <!-- Example split danger button -->
                <div class=" d-flex mb-3">
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-info px-5 fs-6 fw-semibold">Details</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary bg-body-secondary" style="width: 300px;">
                            <div>
                                <h6>Weather: <span style="font-size:13px;font-weight: normal;"></span></h6>

                                <h6>Label: <span style="font-size:13px;font-weight: normal;"> Must Visit</span></h6>
                                

                                <h6>Tags: <span style="font-size:13px;font-weight: normal;">Hills & Valleys</span></h6>
                                

                                <h6>Timings: <span style="font-size:13px;font-weight: normal;">All day</span></h6>


                                <h6>Entry Fee:  <span style="font-size:13px;font-weight: normal;">No Entry Fee</span></h6>


                            </div>
                        </div>
                    </div>

                    <div class="btn-group mx-1">
                        <button type="button" class="btn btn-info px-3 fs-6 fw-semibold">Must Known</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary" style="width: 400px; background-color: #ffeecc;">
                            <div>
                                <h6>Tips:</h6>
                                <p style="font-size:13px;">1. Make sure you carry warm clothes irrespective of the fact that what season you are travelling in. <br>
                                    2. Carry your own trekking gear and equipments and be always prepared.<br>
                                    3. Carry a medical aid kit and your usual medicines for the way.<br>
                                    4. A good pair of trekking shoes is a must.<br>
                                    5. Carry raingear no matter if you are travelling during monsoon season.<br>
                                    6. Make sure you obtain all the permits well in advance required for trekking in the region.<br>
                                    7. Make sure you carry spare batteries and film roll for camera as there will be no electricity supply.<br>
                                    8. A well informed and trained guide is very important and do make sure to sought out all trivial things well in advance to avoid misunderstanding.  
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Indrahar-Pass.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Indrahar Pass Trek - Kangra, Himachal Pradesh</h5>
                    <p class="card-text">The trek to Indrahar Pass is a fairly easy one, being the most 
                        picturesque trail starting from Mcleodganj, covering Lahesh and Triund Caves, and lasts about 14 km single way.<br>

                        You can easily spot the Pit Panjal range and other smaller ranges on either sides. 
                        The scenic beauty of this trek is so spellbinding, even the simplest conifers and mountain ranges appear 
                        majestic. April to October is the major peak time for trekking on this Pass, so make sure your arrangements 
                        are in place.</p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
                <!-- Example split danger button -->
                <div class=" d-flex mb-3">
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-info px-5 fs-6 fw-semibold">Details</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary bg-body-secondary" style="width: 300px;">
                            <div>
                                <h6>Weather: <span style="font-size:13px;font-weight: normal;"></span></h6>

                                <h6>Label: <span style="font-size:13px;font-weight: normal;"> Must Visit</span></h6>
                                

                                <h6>Tags: <span style="font-size:13px;font-weight: normal;">Trekking</span></h6>


                            </div>
                        </div>
                    </div>

                    <div class="btn-group mx-1">
                        <button type="button" class="btn btn-info px-3 fs-6 fw-semibold">Must Known</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary" style="width: 360px; background-color: #ffeecc;">
                            <div>
                                <h6>Tips:</h6>
                                <p style="font-size:13px;">1. Make sure you carry warm clothes irrespective of the fact that what season you are travelling in.<br>
                                    2. Carry your own trekking gear and equipments and be always prepared.<br>
                                    3. Carry a medical aid kit and your usual medicines for the way.<br>
                                   
                                    4. Carry raingear no matter if you are travelling during monsoon season.<br>
                                    
                                    5. Make sure you carry spare batteries and film roll for camera as there will be no electricity supply.<br>
                                    6. A well informed and trained guide is very important and do make sure to sought out all trivial things well in advance to avoid 
                                    misunderstanding.<br>
                                    7. Carry your own water during the trek. You might not get the opportunity to refill your water stock on the way.
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Jalori-Pass.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Jalori Pass - Shojha, Himachal Pradesh</h5>
                    <p class="card-text">Nestled in the peaks of northern Himalayas lies the Jalori mountain pass, 
                        located between the districts of Kullu and Shimla. Perhaps one would recognise it better as the snow-covered summit 
                        in the Bollywood film "Yeh Jawaani Hai Deewani", where actors Ranbir Kapoor and Deepika Padukone are seen trekking 
                        through the mountainside. The pass opens in the second week of March and shuts down in December due to snowfall. <br>

                        Situated at a height of 10,800 feet above sea level, Jalori Pass is located at a distance of 5 kilometres from Shoja. 
                        The leading road is narrow and extremely steep, not to mention uneven and full of potholes, making it a bumpy ride and 
                        sometimes it becomes difficult to drive the car even in first gear. Vehicles are prone to slipping due to frost during 
                        the winter, even after machines have swept away the snow.<br>
                         
                        The Jalori Pass Trek that starts from here is a moderate level trek seated amidst vast coniferous forests, and can be best covered between the seasons of mid-June to mid-October when traversing through the snow is an easy feat. The path leads to the nearby Serolsar Lake and 'Budhi Naagin' temple.
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
                <!-- Example split danger button -->
                <div class=" d-flex mb-3">
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-info px-5 fs-6 fw-semibold">Details</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary bg-body-secondary" style="width: 300px;">
                            <div>
                                <h6>Weather: <span style="font-size:13px;font-weight: normal;"></span></h6>

                                <h6>Label: <span style="font-size:13px;font-weight: normal;"> Must Visit</span></h6>

                                <h6>Tags: <span style="font-size:13px;font-weight: normal;">Hills & Valleys</span></h6>

                                <h6>Timings: <span style="font-size:13px;font-weight: normal;">Open all day. Remains closed during the peak of winter typically December, January, and February.</span></h6>

                                <h6>Time Required: <span style="font-size:13px;font-weight: normal;">3 - 4 hrs</span></h6>


                            </div>
                        </div>
                    </div>

                    <div class="btn-group mx-1">
                        <button type="button" class="btn btn-info px-3 fs-6 fw-semibold">Must Known</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary" style="width: 400px; background-color: #ffeecc;">
                            <div>
                                <h6>Tips:</h6>
                                <p style="font-size:13px;">
                                    1. Refuel your vehicle before the Aut tunnel or keep a can of fuel in handy in case required <br>
                                    2. Homestays is the most favourable mode of accommodation in Shoja and can be easily found in the proximity.<br>  
                                    3. Wear comfortable sports shoes for trekking<br>
                                    4. The trek route is quite isolated, so it may be advisable to travel in groups<br>
                                    5. It would also be prudent to bring snacks and drinking water with you during the trek, as there are only a few eateries in the area that serve tea, coffee and noodles.<br>
                                    6. Carry a trekking stick or umbrella for convenience.<br>
                                    7. Avoid if you have altitude sickness.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
    </div>







    <div class="container d-flex justify-content-center">
        <div class="row">

            
            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Kunzum-Pass.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Kunzum Pass - Spiti, Himachal Pradesh</h5>
                    <p class="card-text">Kunzum Pass or Kunzum La, as it is called by locals, is one of the highest motorable mountain passes of India, located at an altitude of 4,551m above mean sea level. It serves as a gateway to the beautiful Spiti valley Via Kullu and Lahaul. It lies on the eastern Kunzum Range of the Himalayas and is at a distance of 122 km from Manali.  <br>

                        Kunzum La offers an incredible 360-degree view of Bara- Shigri Glacier (the second longest glacier in the world), a jaw-dropping vista of Chandrabhaga Range and a spectacular view of the Spiti valley. This enthralling view makes Kunzum Pass a photographer's dream. <br>
                        
                        There is a 15km trek to the famous Chandratal Lake (moon lake) from Kunzum Pass. It is believed that the visitors have to stop at the temple of Goddess Kunzum Devi, on their way to the pass, to pay their respect and seek the blessing to travel safely through the rugged terrain safely. The tradition is to take a complete circle of the temple in your vehicle.
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
                <!-- Example split danger button -->
                <div class=" d-flex mb-3">
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-info px-5 fs-6 fw-semibold">Details</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary bg-body-secondary" style="width: 300px;">
                            <div>
                                <h6>Weather: <span style="font-size:13px;font-weight: normal;"></span></h6>

                                <h6>Label: <span style="font-size:13px;font-weight: normal;"> Must Visit</span></h6>

                                <h6>Tags: <span style="font-size:13px;font-weight: normal;">Hills & Valleys</span></h6>

                                <h6>Timings: <span style="font-size:13px;font-weight: normal;"> Sunset to Sunrise</span></h6>

                                <h6>Time Required: <span style="font-size:13px;font-weight: normal;">2 - 3 hrs</span></h6>

                                <h6>Entry Fee: <span style="font-size:13px;font-weight: normal;">No entry fee</span></h6>


                            </div>
                        </div>
                    </div>

                    <div class="btn-group mx-1">
                        <button type="button" class="btn btn-info px-3 fs-6 fw-semibold">Must Known</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary" style="width: 400px; background-color: #ffeecc;">
                            <div>
                                <h6>Note:</h6>
                                <p style="font-size:13px;">
                                    1. If travelling by bus, reconfirm the running status a day before. Also, reach the station early to grab a good seat as there is no provision for bookings.<br>
                                    2. If you are hiring a private taxi, it's better to hire an SUV.<br>
                                    3. You might experience altitude sickness. Take applicable precautions.<br>
                                    4. Don't miss the spectacular view of Bara-Shigri glacier on the way to the Pass.<br>
                                    5. The Pass has no eateries, so it is recommended to stock up on food supplies before the journey.<br>

                                    <h6>Best Time to Visit:</h6> 
                                    <p style="font-size:13px;">The Kunzum Pass is ordinarily open from June to September. During the rest of the year, it is frozen.</p>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            
            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Nathula-Pass.jpeg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Nathu la Pass - Gangtok, Sikkim</h5> <br>
                    <p class="card-text">Nathula, one of the highest motorable roads in the world, is a mountain pass in the Himalayan peaks that co-joins Sikkim and China. Situated on the Indo-Tibetan border 14450 ft. 
                        above sea level, Nathu La is one of the most important Himalayan passes in the country. Nathu means 'listening ears', and La means 
                        'pass'. Nathula is one of the three open trading border posts between India and China and is famous for its picturesque beauty and 
                        beautiful environment. The temperature here remains low for most parts of the year, and it becomes a hotspot for tourists during 
                        summer.<br>

                        Several tourists flock here every year for trekking in the valley and enjoying the scenic beauty. There are a number of waterfalls that gush along the way from Gangtok to Nathu La. It also offers an opportunity to see beautiful snow peaks encircling the area. The region also supports Himalayan wildlife like Tibetan gazelle, snow leopard, yaks, Tibetan wolves, etc. Nathu La Pass has a rich variety of flora apart from a spectacular wildlife range.
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
                <!-- Example split danger button -->
                <div class=" d-flex mb-3">
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-info px-5 fs-6 fw-semibold">Details</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary bg-body-secondary" style="width: 300px;">
                            <div>
                                <h6>Weather: <span style="font-size:13px;font-weight: normal;"></span></h6>

                                <h6>Label: <span style="font-size:13px;font-weight: normal;"> Must Visit</span></h6>

                                <h6>Tags: <span style="font-size:13px;font-weight: normal;">Hills & Valleys</span></h6>

                                <h6>Timings: <span style="font-size:13px;font-weight: normal;">Wednesday - Sunday: 8:00 AM - 3:30 PM (For Indian Nationals)</span></h6>

                                <h6>Time Required: <span style="font-size:13px;font-weight: normal;">1 hrs</span></h6>

                                <h6>Entry Fee: <span style="font-size:13px;font-weight: normal;">No entry fees, but permit is necessary</span></h6>

                            </div>
                        </div>
                    </div>

                    <div class="btn-group mx-1">
                        <button type="button" class="btn btn-info px-3 fs-6 fw-semibold">Must Known</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary" style="width: 400px; background-color: #ffeecc;">
                            <div>
                                <h6>How to Obtain Nathula Pass Permit: </h6>
                                <p style="font-size:13px;">
                                    A valid permit to visit Nathu La Pass is given to only Indian Nationals. 
                                    The permit is obtained by applying to the Tourism and Civil Aviation Department. 
                                    This can be done with the help of a registered travel agency. Valid identity proof and 
                                    two photographs are necessary for the same.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            
            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Sela-Pass.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Sela Pass - Tawang, Arunachal Pradesh</h5>
                    <p class="card-text">One of the most breathtaking places in the Himalayan vista, Sela Pass is a lifeline for the people of 
                        Arunachal Pradesh, and it is as heavenly as it gets. The Sela Pass and Himalayas combine to enchant one and all by their 
                        mystic beauty. One of the most stunning gifts of nature to the North-East, Sela Pass is a lifeline for the people of Arunachal 
                        Pradesh as it is the only way that connects Tawang district of the state to the rest of the country. Besides its geographical 
                        importance, Sela Pass is breathtaking place always covered in snow providing some beautiful views of the eastern Himalayan 
                        range. The rocky pass is also home to one of Arunachal's most beautiful lakes - the Sela Lake. Being a sensitive region, one 
                        needs an inner line permit to visit Sela Pass.<br>

                        The Sela pass and the Sela lake situated at an altitude of 4170 meters are a gateway to Arunachal and in a way tell you the treasures that lie ahead within the state. Being at Sela Pass and gazing into the frozen Sela Lake one cannot help but marvel at the wonder that is the Himalayas. Sela pass lies on your way to Tawang city which is some 80 km from the pass and does make a great place to stop and relax admiring the awesomeness of the surroundings.
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
                <!-- Example split danger button -->
                <div class=" d-flex mb-3">
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-info px-5 fs-6 fw-semibold">Details</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary bg-body-secondary" style="width: 300px;">
                            <div>
                                <h6>Weather: <span style="font-size:13px;font-weight: normal;"></span></h6>

                                <h6>Label: <span style="font-size:13px;font-weight: normal;"> Must Visit</span></h6>

                                <h6>Tags: <span style="font-size:13px;font-weight: normal;">Lake</span></h6>

                                <h6>Timings: <span style="font-size:13px;font-weight: normal;">Day time</span></h6>

                                <h6>Entry Fee: <span style="font-size:13px;font-weight: normal;">No entry fee</span></h6>


                            </div>
                        </div>
                    </div>

                    <div class="btn-group mx-1">
                        <button type="button" class="btn btn-info px-3 fs-6 fw-semibold">Must Known</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary" style="width: 400px; background-color: #ffeecc;">
                            <div>
                                <h6>Tips:</h6>
                                <p style="font-size:13px;">
                                    1. Very high temperatures in the region during most months means one needs to carry high altitude clothing, 
                                    especially during winters. Protect yourself from frost bites by keeping yourself warm at all times.<br>
                                    2. Avoid heavy eating just before the hike towards the pass.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>







    <div class="container d-flex justify-content-center">
        <div class="row">

            
            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Zoji-la-Pass.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Zoji la Pass - Sonamarg, Jammu And Kashmir</h5>
                    <p class="card-text">
                        Zoji La is a high mountain pass located in the Dras, near Ladakh, at an altitude of 3528 m above the sea level. Connecting Kashmir to Dras and Suru Valley, Zoji La is known as one of the world's most dangerous mountain roads. Translating to "mountain pass of blizzards", it remains closed during winter due to heavy snowfall and avalanches. <br>

                        Given the altitude and the places it travels to, Zoji La pass is known for its extraordinarily beautiful views and landscapes. Certain parts of the pass, especially, can be a bit of a dangerous ride, hence one must travel down this one, only with a seasoned driver, used to such steep and playful turns and roads.
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
                <!-- Example split danger button -->
                <div class=" d-flex mb-3">
                    <div class="btn-group mx-2">
                        <button type="button" class="btn btn-info px-5 fs-6 fw-semibold">Details</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary bg-body-secondary" style="width: 300px;">
                            <div>
                                <h6>Weather: <span style="font-size:13px;font-weight: normal;"></span></h6>

                                <h6>Label: <span style="font-size:13px;font-weight: normal;"></span></h6>

                                <h6>Tags: <span style="font-size:13px;font-weight: normal;">Hills</span></h6>

                                
                            </div>
                        </div>
                    </div>

                    <div class="btn-group mx-1">
                        <button type="button" class="btn btn-info px-3 fs-6 fw-semibold">Must Known</button>
                        <button type="button" class="btn btn-warning dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu p-3 text-secondary border-secondary" style="width: 100px; background-color: #ffeecc;">
                            <div>
                                <h6>---</h6>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>



            
            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Banihal-Pass.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Banihal Pass - Kashmir</h5> <br>
                    <p class="card-text">
                        A significant mountain pass that connects the rest of India to the Kashmir valley, Bannihal Pass is located at the height of 2832 m across the Pir Panjal Range. The pass is only functional during the summer season while in winters, it is extremely risky due to heavy snowfalls and landslides.
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>                
            </div>




            
            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Dehra-Compass.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Dehra Compass - Aksai Chin, Ladakh</h5>
                    <p class="card-text">This mountain pass is located on the controversial territory - Aksai Chin which is under Chinese control from 1961 after the Chinese occupation but is still claimed to be a part of India. Dehra Compass, also known as Dehra Kompas, is also named after a survivor - Kompas-Walla. It is located at the height of 5450 m from sea level.</p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p> 
            </div>


        </div>
    </div>




    <div class="container d-flex justify-content-center">
        <div class="row">
            
            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Diphu-Pass.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Diphu Pass - Arunachal Pradesh</h5> <br>
                    <p class="card-text">
                        A mountain pass located at the triple point junction of the three countries - India, Myanmar and China, Diphu Pass has an elevation of 4587 m. It is a strategic route for Arunachal Pradesh, Assam and south Tibet. The pass is a highly disputed territory as China and Myanmar demarcate it as their boundary while India marks the watershed 5 miles north to the pass as its boundary.</p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
            </div>



            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Fotu-La.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Fotu La - Leh, Ladakh</h5><br>
                    <p class="card-text">
                        The highest mountain pass on the Srinagar-Leh highway, Fotu La, at the height of 4108 m, boasts of tall brown mountains in its surroundings as it is located in the Himalayan Zaskar Range. It is famous for surpassing Zoji La. The mountain pass is picturesque, and one can find a Parasar Bharthi television relay station when descending towards Lamayuru.
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
            </div>



            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Jelep-La.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Jelep La - Sikkim</h5><br>
                    <p class="card-text">
                        Jelep La, which means “lovely level pass” stands at the height of 4267 m and connects Sikkim and Tibet through a route to Lhasa. The mountain pass, rich with history, provides a scenic view of rhododendrons and hamlets. Menmecho Lake passes below Jelep Pa. In India, it is connected through two routes - one in Gangtok, another in Kalimpong.
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
            </div>



        </div>
    </div>
        



    <div class="container d-flex justify-content-center">
        <div class="row">
            
            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Lamkhaga.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Lamkhaga Pass - Kinnaur, Himachal Pradesh</h5>
                    <p class="card-text">
                        One of the most isolated and toughest treks, Lamkhaga Pass, connects Kinnaur district in Himachal Pradesh to Harshil in Uttarakhand. At the height of 5282 m, one finds dense forests of deodar, pine and bhojpatra along with meadows of Kayarkoti while crossing the pass. It is an impressive trail, and the first person to ever complete this stretch was named Marco Alexander Pallis, a Greek-British author and mountaineer, in the year 1933.
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
            </div>


            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Marsimik.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Marsimik La Pass - Kashmir</h5> <br>
                    <p class="card-text">
                        One of the highest motorable passes in Kashmir, Marsimik La is located at an elevation of 5582 m and a distance of 42 kms from Pangong Lake. One needs to be an experienced driver to cover this pass on a car because it is a wild ride full of sharp turns, and even the roads are not in terrible conditions.    
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
            </div>



            <div class="card my-3 mx-2" style="width: 24rem;">
                <img src="/static/img/Mana-Pass.jpg" class="mt-2" alt="..." width=360 height=220>
                <div class="card-body mx-0">
                    <h5 class="card-title ">Mana Pass - Uttarakhand</h5> <br>
                    <p class="card-text">
                        One of the highest vehicle-accessible passes in the world, Mana pass is an ancient route that connects Uttarakhand and Tibet. It is located at the height of 5632 m and is also referred to as the Dungri La, Cirbitya La. It derives its name from the ancient Mana town, covers the road National Highway 7 through its route, and is the only point to reach the Chaukhamba peak.
                    </p>
                </div>

                <p class="mx-2" style="font-size:13px;"><small class="text-body-secondary">Last updated on
                        3 mins ago</small></p>
            </div>


        </div>
    </div>
</section>
{% endblock %}