{% extends 'base.html' %}

{% block section %}
<section>
    <div class="container d-flex">
        <div class="flex-shrink-1 p-3 bg-body-secondary" style="width: 185px; height: 521px;">
            <a href="{% url 'uttarpradesh' %}"
                class="d-flex align-items-center pb-3 mb-3 link-body-emphasis text-decoration-none border-bottom">
                <svg class="bi pe-none me-2" width="20" height="24"></svg>
                <span class="fs-3 fw-semibold">Uttar Pradesh</span>
            </a>
            <ul class="list-unstyled ps-0">
                <li class="mb-1">
                    <button
                        class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed px-3 fs-5 fw-semibold"
                        data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                        Home
                    </button>
                    <div class="collapse" id="home-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="{% url 'aboutus' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded px-3 fs-6">- About</a></li>
                            <li><a href="{% url 'explore' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded px-3 fs-6">- Explore</a></li>
                            <li><a href="{% url 'contactus' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded px-3 fs-6">- Contact Us</a></li>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed px-3 fs-5 fw-semibold" data-bs-toggle="collapse" data-bs-target="#services-collapse" aria-expanded="false"> 
                        Services
                    </button>
                    <div class="collapse" id="services-collapse">
                        <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                            <li><a href="{% url 'book-a-guide' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded px-3 fs-6">- Book A Guide</a></li>
                            <li><a href="{% url 'feedback' %}" class="link-body-emphasis d-inline-flex text-decoration-none rounded px-3 fs-6">- Feedback</a></li>
                        </ul>
                    </div>
                </li>

            </ul>
        </div>


        <div class="d-block col-8">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb m-3">
                    <li class="breadcrumb-item"><a href="{% url 'homepage' %}">Home</a></li>
                    <li class="breadcrumb-item"><a href="{% url 'explore' %}">Explore</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Uttar Pradesh</li>
                </ol>
            </nav>



            {% comment %} <div class="container">
                <h3>Himachal Pradesh Places</h3>
            </div> {% endcomment %}
            <div class="container">

                {% for i in punjabdata %}
                <div class="card mb-3">
                    <img src="/media/{{i.Image}}" class="card-img-top my-2 container " alt="..." height=470>
                    <div class="card-body">
                        <h5 class="card-title">{{i.Place_name}}</h5>
                        <h6>"{{i.Sub_heading}}"</h6>
                        <p class="card-text" style="font-size:13px;">

                            {{i.Desc | safe}}

                        </p>
                        <div class=" d-flex">
                            <p class="card-text"><small class="text-body-secondary">Last updated on
                                    {{i.Pub_date}}</small></p>
                            <!-- Example split danger button -->
                            <div class="btn-group mx-4">
                                <button type="button" class="btn btn-info">Details</button>
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu p-3 text-body-secondary" style="max-width: 500px;">
                                    <p class="fs-5 fw-semibold text-success">
                                        Weather:
                                    </p>
                                    <div>
                                        <h6>Best Time:</h6>
                                        <p style="font-size:13px;">{{i.Best_Time}}</p>
                                        <h6>Avoid Time:</h6>
                                        <p style="font-size:13px;">{{i.Avoid_Time}}</p>

                                    </div>
                                    <div>
                                        <h6>Ideal Duration:</h6>
                                        <p style="font-size:13px;">{{i.Ideal_Duration}}</p>
                                    </div>
                                </div>
                            </div>

                            <a href="" type="button" class="btn btn-warning">{{i.Visits_more_places}}</a>
                        </div>
                    </div>
                </div>

                {% endfor %}

                
                
                
                
                
                
                <div class="card mb-3">
                    <img src="/static/img/monument.jpg" class="card-img-top my-2 container " alt="..." height=470>
                    <div class="card-body">
                        <h5 class="card-title">Agra</h5>
                        <h6>"The city of Taj Mahal, the monument of eternal love"</h6>
                        <p class="card-text" style="font-size:13px;">
                            Located on the banks of River Yamuna in Uttar Pradesh, Agra is a popular tourist destination as it is home to 
                            one of the 7 wonders of the world, the Taj Mahal. It is a sneak peek into the architectural history and legacy 
                            of the Mughal empire with two other UNESCO World Heritage Sites Agra Fort and Fatehpur Sikri. History, 
                            architecture, romance all together create the magic of Agra, and hence, makes for a must-visit for anyone 
                            living in or visiting India.<br>

                            Agra is one of the most populous cities in Uttar Pradesh and 24th most populous city in India. With its 
                            long and rich history, it is no wonder that Agra forms part of the popular Golden Triangle Circuit for 
                            tourists along with Delhi and Jaipur. It is also a part of the Uttar Pradesh Heritage Arc including 
                            Varanasi and Lucknow. History fanatics and architecture buffs are sure to have a ball here with the sheer 
                            expanse of the Mughal art and culture on display.
                        </p>
                        <div class=" d-flex">
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            <!-- Example split danger button -->
                            <div class="btn-group mx-4">
                                <button type="button" class="btn btn-info">Details</button>
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu p-3 text-body-secondary" style="max-width: 500px;">
                                    <p class="fs-5 fw-semibold text-success">
                                        Weather:
                                    </p>
                                    <div>
                                        <h6>Best Time:</h6>
                                        <p style="font-size:13px;">November-March/ August-October</p>
                                        <h6>Avoid Time:</h6>
                                        <p style="font-size:13px;">April-June (due to scorching hot)</p>
                                    
                                    </div>
                                    <div>
                                        <h6>Ideal Duration:</h6>
                                        <p style="font-size:13px;">1-2 days</p>
                                    </div>
                                </div>
                            </div>

                            <a href="" type="button" class="btn btn-warning">15 More Places to Visit in Agra</a>
                        </div>
                    </div>
                </div>



                <div class="card mb-3">
                    <img src="/static/img/varanasi.jpg" class="card-img-top my-2 container " alt="..." height=470>
                    <div class="card-body">
                        <h5 class="card-title">Varanasi</h5>
                        <h6>"The Spiritual Capital of India"</h6>
                        <p class="card-text" style="font-size:13px;">
                            World's oldest living city, Varanasi - also known as Kashi (City of Life) and Benaras, is the spiritual 
                            capital of India. It is one of Hinduism's seven holy cities. The old city of Varanasi lies along the 
                            western banks of the Ganges, spread across a labyrinth of narrow galis. Be prepared to walk on foot and 
                            encounter some holy cows! Temples at almost every turn engulf Varanasi but the Kashi Vishwanath Temple is 
                            the most visited and the oldest of the lot. Benaras is known as the city of Lord Shiva for a reason, and 
                            rightfully so.<br>

                            Varanasi is considered an auspicious place to die, as it is believed to grant moksha or liberation from the cycle of life and death. 
                            Spiritually enlightening, the heart of the city pulsates around the ghats, about 80 of which border the Ganges. Be prepared for the 
                            sights, sounds and smells! Don't miss out on the hot chaat and cool lassi. Though, all chaos and noise on the ghats take a pause before 
                            dusk when the Ganga Aarti begins to take place, a ceremony of immense grandeur.<br>

                            This divine city is also an important destination for Buddhists. Gautam Buddha preached his first sermon in Benaras, a part which is 
                            now in Sarnath.


                        </p>
                        <div class=" d-flex">
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            <!-- Example split danger button -->
                            <div class="btn-group mx-4">
                                <button type="button" class="btn btn-info">Details</button>
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu p-3 text-body-secondary" style="max-width: 500px;">
                                    <p class="fs-5 fw-semibold text-success">
                                        Weather:
                                    </p>
                                    <div>
                                        <h6>Best Time:</h6>
                                        <p style="font-size:13px;">November-February</p>
                                    </div>
                                    <div>
                                        <h6>Ideal Duration:</h6>
                                        <p style="font-size:13px;">2-3 days</p>
                                        <h6>Avoid Time:</h6>
                                        <p style="font-size:13px;">Summer Months (due to hot dry & sunny)</p>
                                    </div>
                                </div>
                            </div>

                            <a href="" type="button" class="btn btn-warning">15 More Places to Visit in Varanasi</a>
                        </div>
                    </div>
                </div>



                <div class="card mb-3">
                    <img src="/static/img/vrindavan.jpg" class="card-img-top my-2 container " alt="..." height=470>
                    <div class="card-body">
                        <h5 class="card-title">Vrindavan</h5>
                        <h6>"Lord Krishna's childhood abode"</h6>
                        <p class="card-text" style="font-size:13px;">
                            One of the oldest cities on the banks of Yamuna, Vrindavan is considered to be one of the most important 
                            places of pilgrimage for the devotees of Krishna. It is said that Lord Krishna had spent his childhood in 
                            Vrindavan. The name of the city has been derived from Vrinda (meaning basil) and van (meaning grove) which 
                            perhaps refer to the two small groves at Nidhivan and Seva Kunj. Since Vrindavan is considered to be a 
                            sacred place, a large number of people come here to abandon their worldly life.<br>

                            The city of Vrindavan hosts hundreds of Lord Krishna and Radha temples scattered throughout, the most 
                            famous ones being Banke Bihari temple and the world-famous ISKCON temple. The vibrant surroundings perfectly
                             depict the playful and benevolent nature of Lord Krishna. Located along the waters of River Yamuna, the 
                             numerous temples set amidst the thick woods and lush greenery of Vrindavan are the major attractions here. 
                        </p>
                        <div class=" d-flex">
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            <!-- Example split danger button -->
                            <div class="btn-group mx-4">
                                <button type="button" class="btn btn-info">Details</button>
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu p-3 text-body-secondary" style="max-width: 500px;">
                                    <p class="fs-5 fw-semibold text-success">
                                        Weather:
                                    </p>
                                    <div>
                                        <h6>Best Time:</h6>
                                        <p style="font-size:13px;">October-March/ November-January</p>
                                        <h6>Avoid Time:</h6>
                                        <p style="font-size:13px;">---</p>
                                    
                                    </div>
                                    <div>
                                        <h6>Ideal Duration:</h6>
                                        <p style="font-size:13px;">1-2 days</p>
                                    </div>
                                </div>
                            </div>

                            <a href="" type="button" class="btn btn-warning">15 More Places to Visit in Vrindavan</a>
                        </div>
                    </div>
                </div>



                <div class="card mb-3">
                    <img src="/static/img/Lucknow.jpg" class="card-img-top my-2 container " alt="..." height=470>
                    <div class="card-body">
                        <h5 class="card-title">Lucknow</h5>
                        <h6>"The City of Nawabs and Kebabs"</h6>
                        <p class="card-text" style="font-size:13px;">
                            The capital and the largest city of Uttar Pradesh, Lucknow, situated on the banks of river Gomti, welcomes 
                            you with a heartwarming note of "Muskuraiyein, kyunki aap Lucknow mein hai". A city of kebabs and nawabs, 
                            of architecture and history, of literature and culture – that is Lucknow in a nutshell for you. From a 
                            slice of rich colonial history to modernized museums, this artistic hub of Awadh region beautifully brings 
                            together the opulence of a glittering past and the simplicity of a modern city.<br>

                            Rumi Darwaza, the Mughal Gateway built in the centre of the capital divides Lucknow into 'Old Lucknow' 
                            which is ancient, and more crowded, and the 'New Lucknow' which is urban and one of the most planned cities 
                            of Asia. Most of Old Lucknow is well-known for its bustling vibrant streets, authentic, mouth-watering 
                            kebab and biriyani outlets, lakhnavi chikan market, and the wholesale jewellery stores.    
                        </p>
                        <div class=" d-flex">
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                            <!-- Example split danger button -->
                            <div class="btn-group mx-4">
                                <button type="button" class="btn btn-info">Details</button>
                                <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span class="visually-hidden">Toggle Dropdown</span>
                                </button>
                                <div class="dropdown-menu p-3 text-body-secondary" style="max-width: 500px;">
                                    <p class="fs-5 fw-semibold text-success">
                                        Weather:
                                    </p>
                                    <div>
                                        <h6>Best Time:</h6>
                                        <p style="font-size:13px;">October-March</p>
                                        <h6>Avoid Time:</h6>
                                        <p style="font-size:13px;">Summers (due to dry hot)</p>
                                    </div>
                                    <div>
                                        <h6>Ideal Duration:</h6>
                                        <p style="font-size:13px;">1-2 days</p>
                                    </div>
                                </div>
                            </div>

                            <a href="" type="button" class="btn btn-warning">15 More Places to Visit in Lucknow</a>
                        </div>
                    </div>
                </div>





            </div>


        </div>


</section>
{% endblock %}